In [1]:
from common_imports import *
from intrinsic_eval import _men, _ws353, _simlex999

sns.timeseries.algo.bootstrap = my_bootstrap
sns.categorical.bootstrap = my_bootstrap

In [3]:
simlex.head()

      w1           w2   sim
0    old          new  1.58
1  smart  intelligent  9.20
2   hard    difficult  8.77
3  happy     cheerful  9.55
4   hard         easy  0.95

In [4]:
ws, men, simlex = _ws353(), _men(), _simlex999()
simlex = simlex.convert_objects(convert_numeric=True)

/Users/mmb28/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:2: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  from ipykernel import kernelapp as app

In [5]:
men.head()

           w1         w2   sim
0         sun   sunlight  50.0
1  automobile        car  50.0
2       river      water  49.0
3       stair  staircase  49.0
4     morning    sunrise  49.0

In [6]:
ws.head()

         w1        w2    sim
0      love       sex   6.77
1     tiger       cat   7.35
2     tiger     tiger  10.00
3      book     paper   7.46
4  computer  keyboard   7.62

In [7]:
simlex.head()

      w1           w2   sim
0    old          new  1.58
1  smart  intelligent  9.20
2   hard    difficult  8.77
3  happy     cheerful  9.55
4   hard         easy  0.95

In [8]:
ws_pairs = set(tuple(sorted([x.w1, x.w2])) for x in ws.itertuples())
men_pairs = set(tuple(sorted([x.w1, x.w2])) for x in men.itertuples())
simlex_pairs = set(tuple(sorted([x.w1, x.w2])) for x in simlex.itertuples())

ws_dict = {tuple(sorted([x.w1, x.w2])):x.sim for x in ws.itertuples()}
men_dict = {tuple(sorted([x.w1, x.w2])):x.sim for x in men.itertuples()}
simlex_dict = {tuple(sorted([x.w1, x.w2])):x.sim for x in simlex.itertuples()}

In [9]:
from itertools import product
for pair in product(men_pairs.intersection(simlex_pairs)):
    score1, score2 = men_dict[pair[0]]/50, simlex_dict[pair[0]]/10
    print(pair[0], men_dict[pair[0]], simlex_dict[pair[0]], score1, score2, score1-score2)

('bacon', 'meat') 44.0 5.8 0.88 0.58 0.3
('day', 'morning') 41.0 4.87 0.82 0.487 0.333
('bathroom', 'kitchen') 43.0 3.1 0.86 0.31 0.55
('cattle', 'sheep') 38.0 4.77 0.76 0.477 0.283
('breakfast', 'dinner') 37.0 3.33 0.74 0.333 0.407
('sunrise', 'sunset') 42.0 2.47 0.84 0.247 0.593
('lamb', 'sheep') 40.0 8.42 0.8 0.842 -0.042
('day', 'night') 39.0 1.88 0.78 0.188 0.592
('dawn', 'night') 36.0 2.95 0.72 0.295 0.425
('bed', 'room') 37.0 2.35 0.74 0.235 0.505
('door', 'kitchen') 24.0 1.67 0.48 0.167 0.313
('bird', 'hawk') 44.0 7.85 0.88 0.785 0.095
('lunch', 'sandwich') 42.0 6.3 0.84 0.63 0.21
('door', 'floor') 28.0 1.67 0.56 0.167 0.393
('beach', 'sea') 44.0 4.68 0.88 0.468 0.412
('river', 'valley') 37.0 1.67 0.74 0.167 0.573
('snow', 'weather') 37.0 5.48 0.74 0.548 0.192
('bath', 'room') 35.0 3.33 0.7 0.333 0.367
('camera', 'lens') 43.0 4.28 0.86 0.428 0.432
('floor', 'roof') 39.0 2.62 0.78 0.262 0.518
('bathroom', 'bedroom') 38.0 3.4 0.76 0.34 0.42
('fun', 'game') 35.0 3.42 0.7 0.342 0.358
('mist', 'rain') 41.0 5.97 0.82 0.597 0.223
('door', 'window') 36.0 3.33 0.72 0.333 0.387
('beef', 'cattle') 41.0 7.03 0.82 0.703 0.117
('summer', 'winter') 37.0 2.38 0.74 0.238 0.502
('friend', 'guy') 26.0 3.88 0.52 0.388 0.132
('bed', 'bedroom') 42.0 3.4 0.84 0.34 0.5
('ceiling', 'roof') 39.0 7.58 0.78 0.758 0.022
('clothes', 'jacket') 43.0 5.15 0.86 0.515 0.345
('cloud', 'mist') 37.0 6.67 0.74 0.667 0.073
('maple', 'oak') 43.0 6.03 0.86 0.603 0.257
('ocean', 'sea') 46.0 8.27 0.92 0.827 0.093
('chicken', 'rice') 34.0 1.43 0.68 0.143 0.537
('flower', 'violet') 34.0 6.95 0.68 0.695 -0.015
('man', 'woman') 42.0 3.33 0.84 0.333 0.507
('alley', 'street') 37.0 5.48 0.74 0.548 0.192
('ceiling', 'floor') 38.0 1.73 0.76 0.173 0.587
('canyon', 'valley') 36.0 6.75 0.72 0.675 0.045
('sky', 'sun') 40.0 2.27 0.8 0.227 0.573
('bed', 'furniture') 45.0 6.08 0.9 0.608 0.292
('coast', 'shore') 40.0 8.83 0.8 0.883 -0.083
('eye', 'tear') 41.0 3.55 0.82 0.355 0.465
('brick', 'wall') 37.0 4.68 0.74 0.468 0.272
('river', 'stream') 45.0 7.3 0.9 0.73 0.17

In [10]:
for pair in product(ws_pairs.intersection(simlex_pairs)):
    print(pair[0], abs(ws_dict[pair[0]]/10 - simlex_dict[pair[0]]/10))

('psychology', 'science') 0.179
('moon', 'planet') 0.221
('coast', 'shore') 0.027
('dawn', 'day') 0.206
('professor', 'student') 0.486
('doctor', 'professor') 0.197
('aluminum', 'metal') 0.058
('closet', 'clothes') 0.473
('man', 'woman') 0.497

In [11]:
for pair in product(ws_pairs.intersection(men_pairs)):
    print(pair[0], abs(ws_dict[pair[0]]/10 - men_dict[pair[0]]/50))

('coast', 'hill') 0.122
('automobile', 'car') 0.106
('baby', 'mother') 0.055
('coast', 'shore') 0.11
('food', 'fruit') 0.132
('man', 'woman') 0.01